header{
    align-items: center;
    display: flex;
}
.header_title{
    margin-top: 25px;
    margin-left: 35px;
    color: darkblue;
    font-size: 20px;
    float: left;
}
ul{
    margin-right: 35px;
    margin-top: 25px;
    display: flex;
    float: right;
}
li{
    list-style: none;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
    color: darkblue;
}
.content{
    padding-top: 180px;
    margin-bottom: 50px;
}
.content_image{
    text-align: right;
}
img{
    width: 50%;
    height: auto;
    position: relative;
}
.content_title{
    text-align: left;
    font-size: 50px;
    position: absolute;
    bottom: 193px;
}
.content_box {
    width: 76%;
    height: 18%;
    background-color: darkblue;
    position: absolute;
    top: 590px;
}